button {
    display: block;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    border: 0px;
    position: relative;
    top: 20px;
}