/*
## Layout
- Mobile: 375px
- Desktop: 1440px

### Font
- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
- Family: [Big Shoulders](https://fonts.google.com/specimen/Big+Shoulders)
- Weights: 700
*/


/*@import url(https://fonts.google.com/specimen/Lexend+Deca);*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 'Lexend Deca', sans-serif */

/*@import url(https://fonts.google.com/specimen/Big+Shoulders);*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
/* 'Big Shoulders', sans-serif; */


@import "./sedans.css";
@import "./suvs.css";
@import "./luxury.css";
@import "./button.css";
@import "./backgroundstyle.css";
@import "./quadro.css";
@import "./image.css";

:root {
    /*primary*/
    --cor_gold_500: hsl(31, 77%, 52%);
    --cor_cyan_800: hsl(184, 100%, 22%);
    --cor_green_950: hsl(179, 100%, 13%);
    /*neutro */
    --cor_white_transparent: hsla(0, 0%, 100%, 0.75);
    --cor_gray_100: hsl(0, 0%, 95%);
}

body {
    font-size: 15px;
    margin: 0px;
}