.suvs {
    padding: 50px;
    width: 200px;
    height: 350px;
    background-color: var(--cor_cyan_800);
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
    /*border: 2px solid red;*/
}

.suvs h2 {
    font-family: 'Big Shoulders', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--cor_gray_100);
    /*border: 2px solid red;*/
}

.suvs p {
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    line-height: 23px;
    color: var(--cor_white_transparent);
    /*border: 2px solid red;*/
}

.suvs button {
    color: var(--cor_cyan_800);
}